{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap" rel="stylesheet">
    <title>TDD</title>
</head>
<body>
    <div class="status">
        <h1 style="text-align: center; margin-top: 100px; font-family: 'Oswald', sans-serif;">Hello, Apa Kabar?</h1>
        <form action="{% url 'homepage:tambahStatus'%}" method="POST" role="form" style="text-align: center; margin-top: 20px;">
            {% csrf_token %}
            <label for="status" id ="status">
                {{form.status}}
            </label>
            <button type="submit" style="font-family: 'Quicksand', sans-serif;" class="ml-2" id="submit">Submit</button>
        </form>
    </div>

    <div class="bungkus-status">
        <div class="statusOut mt-3">
            <div>
                {%for i in list_status%}
                <hr>{{i.status}}
                {%endfor%}
            </div>
        </div>
        <div class="statusOut mt-3 ml-5">
            <div>
                {%for i in list_status%}
                <hr>{{i.waktu}}
                {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>