{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/style2.css'%}">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link id="css1" rel="stylesheet" href="{% static '/css/style3.css'%}">
    <link id="css2" rel="stylesheet" href="{% static '/css/hhh.css'%}">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static '/js/action.js'%}"></script>
    <title>Story7</title>
</head>
<style>
</style>
<body id="body">
    <div>
        <h1 class="mt-5 head" style="text-align: center; font-size: 5vw; font-family: 'Oswald';">Hallo, Fajar Anugerah</h1>
    </div>
    <div class="line" style="margin-top: 8vw;">
        <div class="order-sm-last ml-5">
            <div class="" style="width: 20vw; height: 20vw;">
                <div id="accordion" class="size" style="font-family: 'Oswald', sans-serif; ">    
                    <h3 style="font-size: 2vw;" id="satu">Aktivitas</h3>
                    <div class="stybro" style="font-family: 'Quicksand', sans-serif; font-size: 1vw; text-align: justify;">
                        <p>Kegiatan yang saya lakukan saat ini:</p>
                        <ul>
                            <li>Bermain Futsal</li>
                            <li>Mendengarkan Musik</li>
                            <li>Kuliah</li>
                        </ul>
                    </div>
                    <h3 style="font-size: 2vw;" id="dua">Organisasi</h3>
                    <div style="font-family: 'Quicksand', sans-serif; font-size: 1vw; text-align: justify;">
                        <p>Kegiatan Organisasi yang pernah saya ikuti:</p>
                        <ul>
                            <li>Depor BEM FASILKOM UI</li>
                            <li>Staf Pertandingan CSL 2019</li>
                            <li>Staf EnS COMPFEST 2019</li>
                        </ul>
                    </div>
                    <h3 style="font-size: 2vw;" id="tiga" >Prestasi</h3>
                    <div style="font-family: 'Quicksand', sans-serif; font-size: 1vw; text-align: justify;">
                        <p>Prestasi yang pernah saya raih:</p>
                        <ul>
                        <li>Juara 2 Tingkat Nasional Pencak Silat 2016</li>
                        <li>Juara 3 Tingkat Kota Pencak Silat 2016</li>
                        <li>Juara 1 Tingkat Kota Pencak Silat 2017</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="status" style="text-align: center;">
        <button style="text-align: center; margin-top: 8vw; font-family: 'Quicksand';" id="ubah">Ubah Tema</button>
        <br>
        <br>
        <br>
        <br>
    </div>  
    
</body>
</html>