body{
    text-align: center;
    scroll-behavior: smooth;
    background: #f9e1e0;
    font-family: 'Oswald';
}
.abc input{
    background-color: floralwhite;
    border-radius: 5px;
    height: 2.5vw;
    background-color: none;
    color: black ;
    border: 1.5px solid black;
}

