.size{
    width: 20vw;
    height: 20vw;
    text-align: justify;
}
.line{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.coll div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.coll2 p{
    width: 20vw;
    height: 20vw;
    text-align: center;
}