.status button{
    border-radius: 5px;
    background-color: none;
    color: black ;
    border: 1.5px solid black;
}
.status button:hover{
    background-color: gainsboro;
    border-radius: 5px;
}
.statusOut div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.bungkus-status{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}