{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/styleBook.css'%}">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <!-- <script src="{% static '/js/bbb.js' %}"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <title>Book</title>
</head>
<style>
    button{
        border-radius: 5px;
        background-color: none;
        color: black ;
        border: 1.5px solid black;
    }
    button:hover{
        background-color:#f9e1e0 !important ;
    }
</style>
<body>
    <div class="abc">
        <p class="h1" style="margin-top: 5vw;"> Find Your Favorite Book!</p>
        <input id="search" type="text" class="mt-3" placeholder="Search Book here!"  style="width: 13vw; font-family: 'Quicksand';">
        <!-- <button style="font-family: 'Quicksand', sans-serif; background-color: floralwhite;" class="ml-2" id="button">Submit</button> -->
        <button id="button">Submit</button>
    </div>

    <div class="row mt-5" id="ini">

    </div>
   
    <script>
    $(document).ready(() => {
    $.ajax({
        method: 'GET',
        url: '/dataBuku?key=tintin',
        success: function (result){
            let booksView = $('#ini');
            booksView.empty();
            const resultList = result.items;
            for (let i = 0; i< resultList.length; i++){
                let book = resultList[i].volumeInfo;
                booksView.append(
                    "<div class='col-lg-3 col-sm-4 mb-4'>" +
                    "<div class='card h-75'>" +
                    "<img class='card-img-top h-75' src=" + book.imageLinks.thumbnail + ">" +
                    "<div class='card-body'>" +
                    "<h4 class='card-title'>" + book.title + "</h4>" +
                    "<p class='card-text'>Year Released: " + book.publisher + "</p>" +
                    "<p class='card-text'>Categories: " + book.categories + "</p>" +
                    "<p class='card-text'>Authors: " + book.authors + "</p>" +
                    "</div>" +
                    "</div>" +
                    "</div>"
                );
            }
        }
    });
    $('#button').click(function() {
        event.preventDefault();
        const key = $('#search').val();
        $.ajax({
            method: 'GET',
            url: '/dataBuku?key='+key,
            success: function (result){
                let booksView = $('#ini');
                booksView.empty();
                const resultList = result.items;
                for(let i = 0; i< resultList.length; i++){
                    let book = resultList[i].volumeInfo;
                    booksView.append(
                        "<div class='col-lg-3 col-sm-4 mb-4'>" +
                        "<div class='card h-75'>" +
                        "<img class='card-img-top h-75' src=" + book.imageLinks.thumbnail + ">" +
                        "<div class='card-body'>" +
                        "<h4 class='card-title'>" + book.title + "</h4>" +
                        "<p class='card-text'>Year Released: " + book.publisher + "</p>" +
                        "<p class='card-text'>Categories: " + book.categories + "</p>" +
                        "<p class='card-text'>Authors: " + book.authors + "</p>" +
                        "</div>" +
                        "</div>" +
                        "</div>"
                    );
                }
            }
        });
    });
});
    </script>
</body>
</html>