{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static '/css/styleBook.css'%}">
    
    <script src="{% static '/js/bbb.js' %}"></script> -->
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <title>Login Fajar</title>
</head>
<body>
    <div style="text-align: center;" class="status">
        <p class="h1" style="text-align: center;">Login</p>
    
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <input type="user_id" name="user_id" id="user_id" placeholder="Username" required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
                <p>
                    {{user_not_found}}
                </p>
            <button class="btn-secondary" id="login_button">Sign in</button>
            
        </form>
    </div>

</body>
</html>